---
import ProjectCard from "../../components/CertificationCard.astro"
import { cards } from "../../data/CertificationCard";
---

<section id="certifications" class="certifications">
    <div class="section-container h-full">
        <div class="md:pt-11 flex-col">
            <div class="pt-5 md:p-10">
                <h1 class="text-3xl md:text-5xl text-AzulClaro font-black whitespace-nowrap">
                    Certificados
                </h1>
                <div class="pt-10">
                    {
                        cards.length > 0 ? (
                            <div class="flex flex-col gap-10 md:p-0 items-center">
                                {cards.sort((a, b) => b.year - a.year).map((card) => (
                                    <ProjectCard {...card}/>
                                ))}
                            </div>
                        ) : (
                            <h1>Not Found</h1>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .certifications {
        background: linear-gradient(to bottom, #00ABE4, #95d0e4);
    }
</style>