---
interface Props {
	title: string;
}
import '@fontsource/encode-sans-expanded';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/Logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Encode Sans Expanded', sans-serif;
		background: #E9F1FA;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.section-container {
      width: 90%;
      max-width: 1400px;
      margin-inline: auto;
    }
</style>
<script>
	let isScrolling: number | undefined;
	const scrollDelay = 20;

	window.addEventListener("scroll", function(){
		if (isScrolling !== undefined){
			clearTimeout(isScrolling);
		}

		isScrolling = window.setTimeout(function() {
			let currentScroll = window.scrollY;
			window.scrollTo({
				top: currentScroll,
				behavior: 'smooth'
			});
		}, scrollDelay);
	});
</script>
